
{% if current_user.is_authenticated %}
    <h2><a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a><h2>
{% else %}
    <h2><a href="{{ url_for('login') }}">Sign In</a></h2>
{% endif %}

{% extends 'base.html' %}

{% block content %}




<div class="page-header">
    <h1>Welcome to the Movie Form</h1>
</div>

<div>
    <h2> Search a Movie: </h2>
</div>

<div>
<form action="" method="POST">
	{{ form.hidden_tag() }}
	{{ form.movie_name.label }} {{ form.movie_name() }}
	{{ form.movie_genre.label }} {{ form.movie_genre() }}
	{{ form.movie_rating.label }} {{ form.movie_rating() }}
	{{ form.submit() }}
</form>
</div>

<div>
    <h2> Search a Rating: </h2>
</div>

<form>
	{{ search_form.hidden_tag() }}
	{{ search_form.rating_search.label }} {{ search_form.rating_search() }}
	{{ search_form.submit() }}
</form>
</div>

{% if results %}
	{% for res in results %}
		{{ res.name }} <br>
	{% endfor %}
{% endif %}

<div>
{% for message in get_flashed_messages() %}
    <h2><strong>{{ message }}</strong></h2>
{% endfor %}
</div>
 
{% endblock %}

